header img {
    width: 60px;
  }
  
  header nav {
    float: right;
    border: gray;
    border-style:double;>
  }
  
  header nav ul li {
    display: inline-block;
    padding: 10px;
  }
 
  
  main img {
    width: 50%;
  }
  
  p {
    line-height: 1.5;
    
      
  }
  
  main section:nth-child(3) p {
    margin-bottom: 5px;
  }
  main section:nth-child(4) p:nth-child(1) {
    background-color: #cee5d0;
  }
  
  main section:nth-child(4) p:nth-child(2) {
    background-color: #f3f0d7;
  }
  
  main section:nth-child(4) p:nth-child(3) {
    background-color: #d8b384;
  }
  
  main section:nth-child(4) p:nth-child(4) {
    background-color: #5e454b;
  }
  main section:nth-child(4) p:nth-child(5) {
    background-color: #4e343a;
  }
  main section:nth-child(4) p:nth-child(6) {
    background-color: #2e1b20;
  }

  main section:nth-child(5) h2 {
    margin: 70px;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;

  }
  main section:nth-child(5) ol li {
    
    padding: 10px;
  
  }

  main section:nth-child(6) h2 {
    margin: 70px;
    font-size: 40px;
    font-weight: 600;
  }
  main section:nth-child(6) ul li {
    
    padding: 10px;
  }
  
  h1 {
    font-size: 50px;
    font-weight: 700;
  }
  
  main section:nth-child(2) p {
    text-indent: 50px; 
    /* margin-left: 50px; */
  }

  footer {
      color: darkblue;
  }